.mapCard {
  display: flex;
  height: calc(100vh - 60px - 60px);
}
.buttons{
  display: flex;
  justify-content: space-between;
}
.btn{
  width: 50px;
}
.cards {
  width: 25%;
  height: 100%;
  overflow: auto;
}
.map {
  width: calc(100vw - 25%);
  height: 100%;
}



/*cards in map*/
.marker_button{
  cursor: pointer;
  border: none;
background: none;
  color: white;
}
.marker_button img {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}
