@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500&display=swap');
body {
  margin: 0;
  font-family: 'Georama', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(253, 251, 247);
}

code {
  font-family: 'Roboto', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
/*ON MAP Z INDEXS*/
.mapboxgl-popup{
  z-index: 5 !important;
}
